<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mypage</title>
    <!-- 引入 Bootstrap CSS 文件 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta.2/css/bootstrap.css'>
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="stylesheets/form.css">
</head>

<body>
<header>
    <ul id="nav">
        <li class="slide2"></li>
        <li><a href="/">Alpha</a></li>
        <li><a href="/users">Beta</a></li>
        <li class="active"><a href="/form">Gamma</a></li>
    </ul>
</header>

<div class="container m_t_2">
  <h1 class="text-white">Take the quiz to see if you are taking advantage of your customer's voice.</h1>
  <div class="quiz">
    <div class="p_1"><progress max="8" value="0"></progress></div>
    <div class="progressData"><span class="current">0</span> / <span class="limit">0</span></div>
    <div class="question card">
      <p class="questionText"></p>
      <div class="countdown">Time left: <span class="countdown-timer">15</span> seconds</div>
      <div class="options"></div> <!-- END .options -->
    </div> <!-- END .question -->
  </div> <!-- END .quiz -->
</div> <!-- END .container -->

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
    <script src="/javascripts/form.js"></script>
    <script src="javascripts/script.js"></script>

</body>
</html>
