<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>About Me</title>
  <meta name="description" content="">
  <link href='https://fonts.googleapis.com/css?family=Raleway:100,200,400,600' rel='stylesheet' type='text/css'>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.7.4/jquery.fullPage.min.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css'>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css'>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css'>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css'>
  <link rel="stylesheet" href="stylesheets/user/game.css">
  <link rel="stylesheet" href="stylesheets/user/user.css">
  <link rel="stylesheet" href="stylesheets/style.css">
  <link rel="stylesheet" href="stylesheets/user/anime.css">
  <link rel="stylesheet" href="stylesheets/user/skill.css">
  <link rel="stylesheet" href="stylesheets/user/contract.css">
  <link rel="stylesheet" href="stylesheets/user/language.css">
</head>

<body>
<header style="position: fixed; top: 0; z-index: 1000; width: 100%;">
      <ul id="nav" style="opacity: 0.9">
          <li class="slide2"></li>
          <li><a href="/">Introduction</a></li>
          <li class="active"><a href="/users">About Me</a></li>
          <li><a href="/form">Quiz</a></li>
      </ul>
</header>
  <!-- sidebar slider -->
  <div class="nav-screen">
    <i class="fa fa-times fa-3x"></i>
    <div class="nav-container">
      <div class="nav-links">
        <ul id='myMenu'>
          <li data-menuanchor="secondPage"><a href="/#about">ABOUT</a></li>
          <li data-menuanchor="thirdPage"><a href="/#projects">PROJECTS</a></li>
          <li data-menuanchor="fourthPage"><a href="/#photograph">PHOTOGRAPH</a></li>
          <li data-menuanchor="fifthPage"><a href="/#contact">CONTACT</a></li>
        </ul>
      </div>
    </div>
  </div>
  <!-- end navbar slider -->

  <!-- begin fullpage -->
<div id="fullpage">
    <!-- begin section -->
    <div class="section aboutme" data-anchor="aboutme">
      <div class="opaque-bg animated fadeInDown">
        <h1 style="color:white; font-size: 36px">WANG JUNBO<span style="color:#FF6363">/</span>50087530</h1>
        <p><span id="holder"></span><span class="blinking-cursor">|</span></p>
      </div>
      <i id="moveDown" class="fa fa-chevron-down fa-3x bounce"></i>
    </div>
    <!-- end section -->

    <!-- begin section -->

    <div class="section" data-anchor="skills">
      <div class="content-skill">
        <h1 class="wow fadeInDown" data-wow-delay="0.2s" style="margin-bottom:10px; margin-top: 50px;">ABOUT ME</h1>
        <div class="col-md-6">
          <h2 class="wow fadeInDown" data-wow-delay="0.2s" style="color: #06A2CB">INTRODUCTION</h2>
        <p class="wow fadeInDown" data-wow-delay="0.2s">
          Hello! My name is Wang Junbo, a Business Management Information Systems (BMIS) student.
        </p>
        <p class="wow fadeInDown" data-wow-delay="0.2s">
          I am passionate about landscape photography, travel, cycling, and chess.
          I also have an interest in history and international politics, and I enjoy playing games like Minecraft.
          As a fan of Formula 1, I am fascinated by how data analytics and information systems can enhance the sport.
          I look forward to applying my skills and diverse interests to innovative projects in the future.
        </p>
        </div>
        <div class="col-md-6">
        <img class="wow fadeInDown" data-wow-delay="0.2s"
             src="images/checo2022.jpg" style="width: 50%; height: auto;" alt="img">
        </div>
        <div class="col-md-12" style="margin-top: 40px">
          <h2 class="wow fadeInDown" data-wow-delay="0.2s" style="color: #06A2CB">CODE SKILLS</h2>
        <div class=" wow fadeInUp container-skillbar" data-wow-delay="0.2s">
          <div class="skillbar clearfix " data-percent="60%">
            <div class="skillbar-title" style="background: #4b8bbe;"><span>Python</span></div>
            <div class="skillbar-bar" style="background: #4b8bbe;"></div>
            <div class="skill-bar-percent">60%</div>
          </div> <!-- End Skill Bar -->

          <div class="skillbar clearfix " data-percent="45%">
            <div class="skillbar-title" style="background: #e34c26;"><span>HTML</span></div>
            <div class="skillbar-bar" style="background: #e34c26;"></div>
            <div class="skill-bar-percent">45%</div>
          </div> <!-- End Skill Bar -->

          <div class="skillbar clearfix " data-percent="40%">
            <div class="skillbar-title" style="background: #264de4;"><span>CSS</span></div>
            <div class="skillbar-bar" style="background: #264de4;"></div>
            <div class="skill-bar-percent">40%</div>
          </div> <!-- End Skill Bar -->

          <div class="skillbar clearfix " data-percent="35%">
            <div class="skillbar-title" style="background: #ffcd56;"><span>Javascript</span></div>
            <div class="skillbar-bar" style="background: #ffcd56;"></div>
            <div class="skill-bar-percent">35%</div>
          </div> <!-- End Skill Bar -->

          <div class="skillbar clearfix " data-percent="15%">
            <div class="skillbar-title" style="background: #42b883;"><span>Vue</span></div>
            <div class="skillbar-bar" style="background: #42b883;"></div>
            <div class="skill-bar-percent">35%</div>
          </div> <!-- End Skill Bar -->

        </div>
        </div>
      </div>
    </div>
    <!-- end section -->


    <!-- begin section -->
    <div class="section" data-anchor="projects">
      <div class="content-slide">
        <div class="slide">
          <div class="projects"><h2 class="wow fadeInDown" data-wow-delay="0.2s">My Project: </h2></div>
          <h1 class="wow fadeInDown" data-wow-delay="0.2s">
            <a href="">Historical Shadow Scroll(史影绘卷)</a></h1>
          <p class="wow fadeInDown" data-wow-delay="0.2s">
            A project using Stable Diffusion-generated images to create historical pictures</p>
          <div class="col-md-12">
            <div class="chart-container wow fadeInDown" id="chart-container-1" data-wow-delay="0.2s">
              <h2 style="text-align: left; margin-bottom: 10px;">Languages</h2>
              <div class="legend"></div>
              <div class="chart"></div>
            </div>
          </div>
        </div>
        <div class="slide">
          <div class="projects"><h2 class="wow fadeInDown" data-wow-delay="0.2s">My Project: </h2></div>
          <h1><a href="">AbdOfficeHour</a></h1>
          <p>Office Hour Reservation System Development</p>
          <div class="col-md-12">
            <div class="chart-container" id="chart-container-2">
              <h2 style="text-align: left; margin-bottom: 10px;">Languages</h2>
              <div class="legend"></div>
              <div class="chart"></div>
            </div>
          </div>
        </div>
        <div class="slide">
          <div class="projects"><h2 class="wow fadeInDown" data-wow-delay="0.2s">My Project: </h2></div>
          <h1><a href="">ABD_Dictionary</a></h1>
          <p>Software engineering course project</p>
          <div class="col-md-12">
            <div class="chart-container" id="chart-container-3">
              <h2 style="text-align: left; margin-bottom: 10px;">Languages</h2>
              <div class="legend"></div>
              <div class="chart"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end section -->


<div class="section" data-anchor="game">
  <h1 class="wow fadeInDown" data-wow-delay="0.2s" style="margin-top: 120px;">My Photograph</h1>
  <div class="game-section owl-carousel custom-carousel owl-theme">
    <div class="item active" style="background-image: url(images/photo2.jpg);">
      <div class="item-desc">
        <h3>Location: SUN DE</h3>
      </div>
    </div>
    <div class="item" style="background-image: url(images/photo3.jpg);">
      <div class="item-desc">
        <h3>Location: SCNU</h3>
      </div>
    </div>
    <div class="item" style="background-image: url(images/photo.jpg);">
      <div class="item-desc">
        <h3>Location: CHONG QING</h3>
      </div>
    </div>
    <div class="item" style="background-image:url(images/photo1.jpg)">
      <div class="item-desc">
        <h3>Location: SCNU</h3>
      </div>
    </div>
    </div>
  </div>


    <!-- begin section -->
  <div class="section" data-anchor="contact">
    <div class="content wow fadeInDown" data-wow-delay="0.2s">
      <h1 style="margin-bottom: 30px">CONTACT ME</h1>
      <p>Whether you're interested in studying with me or just want to say hello,</p>
      <p>I'd love to hear from you! Feel free to reach out anytime.</p>
      <p>You can contact me via email at
        <strong style="font-family: 'Times New Roman',sans-serif; color: #06A2CB">cr9294wjb@163.com</strong>.
      </p>
      <p>Looking forward to connecting with you!</p>
    </div>
    <footer class="wow fadeInLeft" data-wow-delay="0.25s" style="margin-top: 50px;" >
      <svg viewBox="0 0 178 40" width="178" height="40">
        <path class="air" d="M 46 16.5 h -20 a 8 8 0 0 1 0 -16" fill="none" stroke="#E85725" stroke-width="1" stroke-linejoin="round" stroke-linecap="round"></path>
        <g id="car">
          <svg viewBox="0 0 118 28.125" x="30" y="11.725" width="118" height="28.125">
            <defs>
              <circle id="circle" cx="0" cy="0" r="1"></circle>
              <g id="wheel">
                <use href="#circle" fill="#1E191A" transform="scale(10)"></use>
                <use href="#circle" fill="#fff" transform="scale(5)"></use>
                <path fill="#1E191A" stroke="#1E191A" stroke-width="0.5" stroke-linecap="round" stroke-linejoin="round" opacity="0.2" stroke-dashoffset="0" d="M -3.5 0 a 4 4 0 0 1 7 0 a 3.5 3.5 0 0 0 -7 0"></path>
                <use href="#circle" fill="#1E191A" transform="scale(1.5)"></use>
                <path fill="none" stroke="#F9B35C" stroke-width="0.75" stroke-linecap="round" stroke-linejoin="round" stroke-dasharray="20 14 8 5" d="M 0 -7.5 a 7.5 7.5 0 0 1 0 15 a 7.5 7.5 0 0 1 0 -15"></path>
                <path fill="none" stroke="#fff" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" opacity="0.1" stroke-dashoffset="0" d="M -6.5 -6.25 a 10 10 0 0 1 13 0 a 9 9 0 0 0 -13 0"></path>
              </g>
            </defs>
            <g transform="translate(51.5 11.125)">
              <path stroke-width="2" stroke="#1E191A" fill="#EF3F33" d="M 0 0 v -2 a 4.5 4.5 0 0 1 9 0 v 2"></path>
              <rect fill="#1E191A" x="3.25" y="-3" width="5" height="3"></rect>
            </g>
            <g transform="translate(10 24.125)">
              <g transform="translate(59 0)">
                <path id="shadow" opacity="0.7" fill="#1E191A" d="M -64 0 l -4 4 h 9 l 8 -1.5 h 100 l -3.5 -2.5"></path>
              </g>
              <path fill="#fff" stroke="#1E191A" stroke-width="2.25" stroke-linecap="round" stroke-linejoin="round" d="M 0 0 v -10 l 35 -13 v 5 l 4 0.5 l 0.5 4.5 h 35.5 l 30 13"></path>
              <g fill="#fff" stroke="#1E191A" stroke-width="2.25" stroke-linecap="round" stroke-linejoin="round">
                <path d="M -6 0 v -22 h 10 z"></path>
                <path d="M 105 0 h -3 l -12 -5.2 v 6.2 h 12"></path>
              </g>
              <g fill="#949699" opacity="0.7">
                <rect x="16" y="-6" width="55" height="6"></rect>
                <path d="M 24 -14 l 13 -1.85 v 1.85"></path>
              </g>
              <g fill="none" stroke="#1E191A" stroke-width="2.25" stroke-linecap="round" stroke-linejoin="round">
                <path stroke-dasharray="30 7 42" d="M 90 0 h -78"></path>
                <path d="M 39.5 -13 h -15"></path>
              </g>
              <path fill="#fff" stroke="#1E191A" stroke-width="2.25" stroke-linejoin="round" d="M 48.125 -6 h -29 v 6 h 29"></path>
              <rect x="48" y="-7.125" width="6.125" height="7.125" fill="#1E191A"></rect>
              <g fill="#1E191A">
                <rect x="60" y="-15" width="1" height="6"></rect>
                <rect x="56.5" y="-17.5" width="6" height="2.5"></rect>
              </g>
            </g>
            <g class="wheels" transform="translate(0 18.125)">
              <g transform="translate(10 0)">
                <use href="#wheel"></use>
              </g>
              <g transform="translate(87 0)">
                <use href="#wheel" stroke-dashoffset="-22"></use>
              </g>
            </g>
          </svg>
        </g>
        <g fill="none" stroke-width="1" stroke-linejoin="round" stroke-linecap="round">
          <path class="air" stroke="#E85725" d="M 177.5 34 h -10 q -16 0 -32 -8"></path>
          <path class="air" stroke="#949699" d="M 167 28.5 c -18 -2 -22 -8 -37 -10.75"></path>
          <path class="air" stroke="#949699" d="M 153 20 q -4 -1.7 -8 -3"></path>
          <path class="air" stroke="#E85725" d="M 117 16.85 c -12 0 -12 16 -24 16 h -8"></path>
          <path class="air" stroke="#949699" d="M 65 12 q -5 3 -12 3.8"></path>
          <path class="air" stroke="#949699" stroke-dasharray="9 10" d="M 30 13.5 h -2.5 q -5 0 -5 -5"></path>
          <path class="air" stroke="#949699" d="M 31 33 h -10"></path>
          <path class="air" stroke="#949699" d="M 29.5 23 h -12"></path>
          <path class="air" stroke="#949699" d="M 13.5 23 h -6"></path>
          <path class="air" stroke="#E85725" d="M 28 28 h -27.5"></path>
        </g>
      </svg>
    </footer>

  </div>





</div>
    <!-- end section -->
  <!-- end fullpage -->

<!-- partial -->
<script src='https://code.jquery.com/jquery-2.1.1.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.7.4/jquery.fullPage.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js'></script>

<!--<script src="javascripts/user.js"></script> -->
<script src="javascripts/script.js"></script>
<script src="javascripts/user/fullpage.js"></script>
<script src="javascripts/user/main.js"></script>
<script src="javascripts/user/nav.js"></script>
<script src="javascripts/user/smooth.js"></script>
<script src="javascripts/user/typing.js"></script>
<script src="javascripts/user/game.js"></script>
<script src="javascripts/user/language.js"></script>
<script src="javascripts/contract.js"></script>

</body>
</html>
