* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*设置全局字体*/
body {

}

header {
    color: #fff;
    text-align: center;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* 确保导航栏位于页面最顶层 */
}

#nav {
    border: none; /* 设置边框为无 */
    border-radius: 0; /* 设置边框的圆角为0，即没有圆角 */
    margin: 0; /* 设置外边距为0 */
    display: flex; /* 使用 Flex 布局 */
    justify-content: right; /* 水平右对齐 */
    background: #f5f5f5; /* 设置背景颜色为浅灰色 */
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.15); /*设置阴影效果，水平偏移0，垂直偏移10px，模糊半径10px，颜色为黑色，透明度0.15 */
    padding: 1px;  /* 设置内边距为1px */
    width: 100%; /* 让导航栏与页面同宽 */
}

/*显示当前界面的按钮*/
#nav .active a {
    color: red; /* 将当前页面链接的文字颜色设为红色 */
    font-weight: bold; /* 将当前页面链接的文字加粗 */
    background-color: rgb(170, 190, 255);
    z-index: 2;
    display: inline-block;
    border-radius: 10em;
}

#nav li a {
    position: relative;
    padding: 15px 55px;
    font: 500 18px '优设标题黑';
    border: none;
    outline: none;
    color: rgb(70, 100, 180);
    display: inline-block;
    text-decoration: none;
    z-index: 3;
}

/*大屏幕下的导航栏样式*/
@media screen and (min-width: 768px) {
    .slide2 {
        position: absolute;
        display: inline-block;
        height: 50px;
        border-radius: 10em;
        transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1.05);
    }
    .slide2 {
        opacity: 0;
        background-color: rgba(170, 190, 255, .5);
        z-index: 1;
        box-shadow: 0 0 20px #ffffffaa inset;
    }
    .squeeze {
        transform: scale(0.9);
    }
}

/* 媒体查询：在较小的屏幕尺寸下修改导航栏样式 */
@media screen and (max-width: 768px) {
    #nav {
        flex-direction: column; /* 将导航栏布局改为垂直方向 */
        align-items: center; /* 将导航项居中对齐 */
        padding: 0; /* 去除水平方向的内边距 */
    }
    #nav a {
        display: block; /* 将链接改为块级元素 */
        padding: 10px;
    }
    .slide1, .slide2, .squeeze {
        display: none; /* 隐藏滑块 */
    }
    #menu-btn {
        display: block; /* 显示菜单按钮 */
    }
    #nav.collapsed {
        display: none; /* 初始状态下隐藏导航项 */
    }
}
/* 控制菜单按钮样式 */
#menu-btn {
    display: none; /* 初始状态下隐藏按钮 */
}



/*section welcome模块*/
/* Style the section */

.welcome {
  padding: 100px;
  background: url("/images/big_data.jpg");
}

/* Center the content within the container */
.container {
  margin: 0 auto;
}

/* Style the heading */
.welcome h2 {
  font-size: 28px;
  color: #333;
}

/* Style the paragraph */
.welcome p {
  font-size: 16px;
  color: #666;
  line-height: 1.6;
}

/* Style the image */
.welcome img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

